body {
    background-color: #dadde6;
}

h1 {
       font-size: 25px;
       font-family: 'Papyrus', sans-serif;
       font-style: normal;
       color: #040f49;
}

.box{
    display: flex;
    flex-direction: column;
    background-color:white;
    color: black;
    padding: 2em;
    margin: 2em;
    border-radius: 10px;
    justify-content: center;
    size 10px;
    width: 900px;
    height: 120px;
    border: 2px black;
}

.container {
  display: flex;
  height: 200px;
  padding: 1em;
  color: white;
}

button{
    background-color: green;
    border-radius:10px;
    padding: 1em;
    color:white;
    font-weight: bold;
}

description {
color white;
}

footer {
            margin-top: auto;
            background-color: #f1f1f1;
            text-align: left;
            padding: 10px;
            font-size: 14px;
            color: #333;
}