<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/css/projekt_insider.css">
<head>
    <meta charset="UTF-8">
    <title>Hamster 2</title>
    <a href="https://www.java-hamster-modell.de/simulator.html"><img width=100px height=100px style="float:right;"
                                                                     src="/css/img/hamster_logo.jpg"></a>
</head>
<body>
<div class="box">
    <p>In dieser Aufgabe sollte ich einen Algorithmus implementieren, wo der Hamster alle Kerne auf die andere Seite
        überträgt und kommt zurück. Falls es keine Kerne auf ursprüngliche Seite mehr gibt, ist der Algorithmus zum Ende.
        In dieser Aufgabe gibt es keine Programmierung da habe ich Scratch hamster angewendet.
    </p>
</div>
</body>
<video width="480" height="360" controls>
    <source src="/css/vid/Hamster3.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

</html>