<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="xt/css" href="/css/projekt_insider.css">
<head>
    <meta charset="UTF-8">
    <title>Hamster 3</title>
    <a href="https://www.java-amster-modell.de/simulator.html"><img width=100px height=100px style="float:right;"
                                                                     src="/css/img/hamster_logo.jpg"></a>
</head>
<body>
<div class="box">
    <p>Dieser Algorithmus reibt den Prozess, bei dem der Hamster Kerne in seiner Umgebung sammelt, die sich rund um
        ihn befinden. Der er sucht aktiv in seiner Nähe und nimmt die gefundenen Kerne auf.
    </p>
</div>
</body>
<video width="480" height="360" controls>
    <source src="/css/vid/er3.mp4" type="video/mp4">
    Your browser does not rt the video tag.
</video>

</html>