<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/css/style_python.css">

<head>
    <meta charset="UTF-8">
    <title>Java</title>
</head>
<body>
<div class="container">
    <form action="java1" method="post">
<div class="box">
    <H1>Insertion Sort</H1>
    <p>Zeitliche Komplexität von O(n²)</p>
    <button>Anschauen</button>
</div>
    </form>
    <form action="java2" method="post">
<div class="box">
    <H1>Merge Sort</H1>
    <p>Zeitliche Komplexität von O(n log n)</p>
    <button>Anschauen</button>
</div>
    </form>
    <form action="java3" method="post">
<div class="box">
    <H1>Selection Sort</H1>
    <p>Zeitliche Komplexität von O(n²)</p>
    <button>Anschauen</button>
</div>
    </form>
</div>
</body>

</html>
