<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/css/projekt_insider.css">
<head>
    <meta charset="UTF-8">
    <title>Java 2</title>
</head>
<body>
<div class="box">
    <p>Der Mergesort gehört zu den stabilen Sortieralgorithmen. Er leitet sich im Allgemeinen vom englischen „merge“,
        also verschmelzen und „sort“, dem sortieren ab. Der Sinn dahinter ist einfach nur, dass der Algorithmus die
        vorhandenen Daten als eine gesamte Liste betrachtet, die er dann in kleinere Listen unterteilt. Man kann also
        sagen, er zerlegt ein Gesamtproblem in mehrere Teilprobleme und löst diese dann Stück für Stück.
    </p>
</div>
</body>
<img src="/css/img/merge_sort.gif">

</html>