<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/css/projekt_insider.css">
<head>
    <meta charset="UTF-8">
    <title>Allgemein</title>
<img width = 100px height = 100px style="float:right;" src="/css/img/python_logo.png">
</head>
<body>
<div class="box">
    <p>Das ist allgemein Python. Da habe ich die Grundlagen erlernt und wiederholt. Es gab auch die Sachen, die ich noch nie angewendet habe wie Generatoren oder andere verfügbare Bibliotheken.</p>
</div>
</body>
<img width=900px height=300px src="/css/img/python_allgemein.png">
</html>