<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/css/projekt_insider.css">
<head>
    <meta charset="UTF-8">
    <title>Analyst</title>
<img width = 100px height = 100px style="float:right;" src="/css/img/python_logo.png">
</head>
<body>
<div class="box">
    <p>Ziel dieses Projekts ist die Analyse der Spotify-Datenbank, um Einblicke in Nutzerverhalten, Musiktrends und
        Hörgewohnheiten zu gewinnen. Dabei werden Daten zum Tempo, Jahr, Lautstärke, Popularität untersucht, um
        Durch den Einsatz von statistischen Methoden und Visualisierungen.</p>
<a href="https://colab.research.google.com/drive/1eCt3CgW3qn6fD7l1EhdnBCDC7hkxUqKp">Google Colab Link</a>
</div>
</body>
<img src="/css/img/merged_graphic.png">
</html>