<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/css/projekt_insider.css">
<head>
    <meta charset="UTF-8">
    <title>Food</title>
    <img width=100px height=100px style="float:right;" src="/css/img/python_logo.png">
</head>
<body>
<div class="box">
    <p>In diesem Projekt habe ich ein CNN mithilfe von TensorFlow angewendet. Ich habe auch das Modell auf
        anderen Daten getestet, wie z.B Grund des Todes(Video unten). Ich habe auch Precision und Recall beachtet.</p>
    <a href="https://github.com/Timure228/Indian-Food-Classifier">Github Link (Food Classifier)</a>
</div>
</body><br><br>
<div class="video">
<iframe width="300" height="200" src="https://www.youtube.com/embed/qEfYeRs5L8E?si=gxuDaS__XYQcvj7D"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
</html>